@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*
body {
  background-color: black;


     -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -ms-transition: .6s ease;
    -o-transition: .6s ease;

}
*/





html, body {
      font-family: 'Poppins', sans-serif;
    margin: 0;
    height:100%;
    width:100%;
    padding:0;

    

}




.night {
  position: absolute;
  width: 50%;
  height: 90%;
 /* transform: rotateZ(45deg);*/
  left:70px;

}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -165px);
  left: calc(50% - 3px);
  -webkit-animation-delay: 7558ms;
          animation-delay: 7558ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 7558ms;
          animation-delay: 7558ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 65px);
  left: calc(50% - 150px);
  -webkit-animation-delay: 3723ms;
          animation-delay: 3723ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 3723ms;
          animation-delay: 3723ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -191px);
  left: calc(50% - 169px);
  -webkit-animation-delay: 7914ms;
          animation-delay: 7914ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 7914ms;
          animation-delay: 7914ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 34px);
  left: calc(50% - 237px);
  -webkit-animation-delay: 7541ms;
          animation-delay: 7541ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 7541ms;
          animation-delay: 7541ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -42px);
  left: calc(50% - 181px);
  -webkit-animation-delay: 7728ms;
          animation-delay: 7728ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 7728ms;
          animation-delay: 7728ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - -81px);
  left: calc(50% - 34px);
  -webkit-animation-delay: 4761ms;
          animation-delay: 4761ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 4761ms;
          animation-delay: 4761ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -57px);
  left: calc(50% - 114px);
  -webkit-animation-delay: 6642ms;
          animation-delay: 6642ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 6642ms;
          animation-delay: 6642ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 70px);
  left: calc(50% - 97px);
  -webkit-animation-delay: 5069ms;
          animation-delay: 5069ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 5069ms;
          animation-delay: 5069ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -192px);
  left: calc(50% - 50px);
  -webkit-animation-delay: 4806ms;
          animation-delay: 4806ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 4806ms;
          animation-delay: 4806ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -69px);
  left: calc(50% - 234px);
  -webkit-animation-delay: 5565ms;
          animation-delay: 5565ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 5565ms;
          animation-delay: 5565ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 128px);
  left: calc(50% - 159px);
  -webkit-animation-delay: 7987ms;
          animation-delay: 7987ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 7987ms;
          animation-delay: 7987ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -80px);
  left: calc(50% - 46px);
  -webkit-animation-delay: 8589ms;
          animation-delay: 8589ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 8589ms;
          animation-delay: 8589ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -50px);
  left: calc(50% - 255px);
  -webkit-animation-delay: 9192ms;
          animation-delay: 9192ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 9192ms;
          animation-delay: 9192ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -24px);
  left: calc(50% - 103px);
  -webkit-animation-delay: 2548ms;
          animation-delay: 2548ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 2548ms;
          animation-delay: 2548ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 83px);
  left: calc(50% - 58px);
  -webkit-animation-delay: 1780ms;
          animation-delay: 1780ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 1780ms;
          animation-delay: 1780ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -43px);
  left: calc(50% - 29px);
  -webkit-animation-delay: 3610ms;
          animation-delay: 3610ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 3610ms;
          animation-delay: 3610ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - 178px);
  left: calc(50% - 146px);
  -webkit-animation-delay: 9535ms;
          animation-delay: 9535ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 9535ms;
          animation-delay: 9535ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 192px);
  left: calc(50% - 6px);
  -webkit-animation-delay: 3169ms;
          animation-delay: 3169ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 3169ms;
          animation-delay: 3169ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - -36px);
  left: calc(50% - 179px);
  -webkit-animation-delay: 7127ms;
          animation-delay: 7127ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 7127ms;
          animation-delay: 7127ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -103px);
  left: calc(50% - 300px);
  -webkit-animation-delay: 4837ms;
          animation-delay: 4837ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 4837ms;
          animation-delay: 4837ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}





canvas {
  display: block;
  vertical-align: bottom;
      z-index: 0;

}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
      z-index: 0;

}


#I {
	opacity: 1;
	animation: flickerI 2s linear  reverse infinite;
}
#I::after {
	content: '';
	width: 150%;
	-webkit-box-shadow: -3px 0px 60px 8px rgba(255,255,255,1);
	-moz-box-shadow: -3px 0px 60px 8px rgba(255,255,255,1);
	box-shadow: -3px 0px 60px 8px rgba(255,255,255,1);
}
#L, #G {
	animation: flickerLG 2s linear reverse infinite;
	position: relative;
}
#L::after, 
#L::before  {
	
	width: 100px;
	height: 100px;
	background: var(--white);
	position: absolute;
	top: -50%;
	left: 100%;
	border-radius: 100%;
	opacity: 0.05;
	filter: blur(10px);
}
#L::after {
	width: 200px;
	height: 200px;
	top: -150%;
	left: -5%;
	opacity: 0.1;
	filter: blur(10px);
}
#H {
	animation: flickerH 2s linear reverse infinite
}

#T {
	animation: flickerH 2s linear reverse infinite
}
#C {
	animation: flickerH 2s linear reverse infinite
}
#K {
	animation: flickerH 2s linear reverse infinite
}
#E {
	animation: flickerH 2s linear reverse infinite
}
#P {
	animation: flickerH 2s linear reverse infinite
}




@keyframes flickerI {
	0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flickerLG {
	0% {
		opacity: 0.19;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.25;
	}
	15% {
		opacity: 0.35;
	}
	25% {
		opacity: 0.2;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.2;
	}
	60% {
		opacity: 0.4;
	}
	70% {
		opacity: 0.35;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.4;
	}
}

@keyframes flickerH {
	0% {
		opacity: 0.15;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.12;
	}
	15% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.15;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.05;
	}
	40% {
		opacity: 0.12;
	}
	45% {
		opacity: 0.15;
	}
	60% {
		opacity: 0.3;
	}
	70% {
		opacity: 0.2;
	}
	80% {
		opacity: 0.3;
	}
	90% {
		opacity: 0.18;
	}
	100% {
		opacity: 0.3;
	}
}

@keyframes flickerT {
	0% {
		opacity: 0.01;
	}
	5% {
		opacity: 0.05;
	}
	10% {
		opacity: 0.03;
	}
	15% {
		opacity: 0.1;
	}
	25% {
		opacity: 0.07;
	}
	30% {
		opacity: 0.1;
	}
	35% {
		opacity: 0.05;
	}
	40% {
		opacity: 0.06;
	}
	45% {
		opacity: 0.1;
	}
	60% {
		opacity: 0.;
	}
	70% {
		opacity: 0.1;
	}
	80% {
		opacity: 0.;
	}
	90% {
		opacity: 0.0;
	}
	100% {
		opacity: 0.1;
	}
}



#ope
  {
  background-color: black !important;
  z-index:-1;
  display: none;
  }

@-webkit-keyframes opeappear {
      0% { opacity: 0; -webkit-transform: translateY(-100%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes opeappear {
      0% { opacity: 0; -moz-transform: translateY(-100%); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}
div{
    padding-bottom:5px;
}



#sticky {
  display:inline-block;
  position:absolute;
  padding:12px;
  left: 48%;
  -webkit-transition: 0.5s ease;
}





.blog a:hover{
color: red !important;

}

.blog subtitlee:hover{
  color: red !important;

}


#cr{

  background:black;
}

hr {
    display: block;
    color: #000;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 20em;
    margin-right: 20em;
    border-style: double;
    border-width: 1px;
}

#linee{
   display: block;
     color: #000;
}
#lineee{
   display: block;
    color: #000;
      margin-left: 25em;
    margin-right: 25em;
}
#lineeee{
   display: block;
    color: #000;
      margin-left: 25em;
    margin-right: 25em;
}

section {
    display: block;
    height:100%;
    width:100%;
    box-sizing:border-box;
}



.zoom {

 height: 110px;
  width: 110px;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;

}
.zoom:hover {
width: 130px;
  height: 130px;
}

.zoom2 {

 height: 438.5px;
  width: 402.5px;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;

}
.zoom2:hover {
  width: 412.5px;
  height: 428.5px;
}
.container {
  position: relative;
  width: 15%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}


.image:hover {
width: 110%;
height:auto;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

a{
    color: white;
}
   .member{

     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    }
#opening{
      background-color: black;
         -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -ms-transition: .6s ease;
    -o-transition: .6s ease;
}

#contact{
       background-color: white;
         -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -ms-transition: .6s ease;
    -o-transition: .6s ease;
}


#faq{
      background-color: white;
}
titlee{
    font-family: 'Poppins', sans-serif;
    color: #FFF;    
}
subtitlee{
    font-family: 'Poppins', sans-serif;
    color: black;    
}

subtitlee a:hover{
    color: red;    
}
/*
h1 {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}
*/
.button {
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  z-index:10000;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
}


.button1 {
    font-family: 'Poppins', sans-serif;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: transparent;
  color: white;
  border: 2px solid #e7e7e7;
  z-index:100000;
      position: relative;

}

.button1:hover {
    background-color: #e7e7e7;
    color: black !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
    font-family: 'Poppins', sans-serif;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: transparent;
  color: white;
  border: 2px solid #555555;
  z-index:1000000;
      position: relative;

}

.button2:hover {
  background-color: #555555;
  color: white !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.downArrow{
  position: absolute;
  bottom: auto;
  left: 50%;
  
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
   
    transform: translateY(-15px);
  }
}


.bounce2 {
  -moz-animation: bounce2 3s infinite;
  -webkit-animation: bounce2 3s infinite;
  animation: bounce2 3s infinite;
}
@-moz-keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -moz-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-webkit-keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
   
    transform: translateX(-15px);
  }
}


.bounce3 {
  -moz-animation: bounce3 3s infinite;
  -webkit-animation: bounce3 3s infinite;
  animation: bounce3 3s infinite;
}
@-moz-keyframes bounce3 {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -moz-transform: translateX(15px);
    transform: translateX(15px);
  }
}
@-webkit-keyframes bounce3 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}
@keyframes bounce3 {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
   
    transform: translateX(15px);
  }
}

#topp {
 transition: top 0.3s;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 80px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: black;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  transition: opacity 0.6s linear;
  
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
   -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#topp::after{
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#topp:hover {
  background-color: #555 !important;
  
 -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

#topp:hover::after {
    opacity: 1;
      background-color: #555;

}
/*
#topp.hide{
      opacity: 0;
}

#topp.show{
      opacity: 1;

}

*/

.collapsible {
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    margin-left: 25%; 
}

.active, .collapsible:hover {
    background-color: #000;
}

.collapsible:after {
    content:"  "  '\002B';
    font-weight: bold;
    float: ;
    margin-left: autopx;
}

.active:after {
    content: "  "  "\2212";
}


.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff00;
}





@media only screen and (max-device-width: 768px) {


#sticky {
visibility:hidden;
}
h1{
  font-size:70px
    z-index:1000000;
}

p{
  font-size: 14px
}

.night {
  width: 5%;


}

.zoom {

 height: 100px;
  width: 100px;


}
.zoom:hover {
width: 130px;
  height: 130px;
}

.zoom2 {

 height:877px;
  width: 805px;


}
.zoom2:hover {
  width: 537px;
  height: 585px;
}

.container {
  width: 40%;
}

.text {
   font-size: 40px;
  padding: 32px 64px;
}

/*
h1 {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}
*/


.button1 {
   padding: 20px 15px;
   font-size: 20px;
  
}



.button2 {
   
  padding: 20px 15px;

  font-size: 20px;
  margin: 4px 2px;
}




#topp {
  font-size: 50px;
  padding: 40px;
}
.collapsible {
    font-size: 10px;
    
}

}




@media only screen and  (max-device-width: 768px) and (orientation:landscape), (max-device-height: 500px){

#ope{
  display: none !important;
}



#sticky {
    visibility: visible;
}
.button1 {
  font-size: 20px;
 
}

.button2 {
  font-size: 20px;
}


#topp {
  font-size: 20px;

  padding: 20px;

}

h1{
  font-size:30px
}

p{
  font-size: 10px
}
  .zoom{
     height: 10px;
  width: 10px;
  }
.zoom2 {

 height: 175px;
  width: 161px;

}
.zoom2:hover {
  width: 200px;
  height: 176px;
}

.container {
  width: 13%;
}

.collapsible {
    padding: 10px;
    font-size:10px;
}

}


@media (min-width: 800px) and (min-height: 600px) and (orientation:landscape), not (min-device-width: 800px){
#ope{
  display: none;
}
}

@media (max-width: 800px) and (max-height: 600px), not (min-device-width: 800px) 
{
#ope
  {
    position: fixed;
  background-color: black !important;
  z-index:99999;
  display: block;
       -webkit-animation: opeappear .3s ease-out;
    -moz-animation: opeappear .3s ease-out;
  }

}

@media (min-width: 800px) and (max-height: 600px), not (min-device-width: 800px){
#ope
  {
    position: fixed;
  background-color: black !important;
  z-index:99999;
  display: block;
     -webkit-animation: opeappear .3s ease-out;
    -moz-animation: opeappear .3s ease-out;
  }

}

@media  (max-width: 800px) and (min-height: 600px), not (min-device-width: 800px){
#ope
  {
    position: fixed;
  background-color: black;
  z-index: 99999;
  display: none;
  }
#sticky {
visibility: hidden;
}

.zoom2 {

 height: 275px;
  width: 261px;

}
.zoom2:hover {
  width: 300px;
  height: 276px;
}
.container {
  width: 40%;
}

h1{
  font-size:20px;
}

}